* {
    -fx-primary: rgb(215,219,214);
    -fx-secondary: rgb(0,150,136);
    -fx-primarytext: rgb(90,90,90);
    -fx-labeltext: rgb(0,230,118);
}
.root {
    -fx-background-color: -fx-primary;
    -fx-font: 15px "Consolas";
}

.button {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: #ffffff ;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-pref-width: 100px;
    -fx-font-size: 17px;
}

.hyperlink{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 17px;
}
.label{
    -fx-font-size: 35px;
    -fx-text-fill: -fx-secondary;
    -fx-font-weight: bold;
}