@import url('../ressources/font/Helvetica/Helvetica.ttf');

* {
    -fx-windowBar: #00bfa5;
    -fx-topBar: #ededed;
    -fx-searchBackground: #f7f7f7;
    -fx-mainBackground: #ECE5DD;
    -fx-messageBarBackground: #f0f0f0;
    -fx-slider: #d3d0cd;
    -fx-contactListBackground: #ffffff;
    -fx-usermsgColor: #dcf8c6;
    -fx-errorColor : #dc3545;
}
.root {
    -fx-font: 15px "Helvetica";
}

.window-bar {
    -fx-background-color: -fx-windowBar;
}

.top-bar {
    -fx-background-color: -fx-topBar;
}

.search-bar-bg {
    -fx-background-color: -fx-searchBackground;
}

.contactlist-bg {
    -fx-background-color: -fx-contactListBackground;
}

.main-bg {
    -fx-background-color: -fx-mainBackground;
    -fx-background-image: url("../ressources/images/bg-chat.png");
}

.message-bar-bg {
    -fx-background-color: -fx-messageBarBackground;
}

.message-bar {
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color:  white, -fx-text-box-border, -fx-control-inner-background;
}

.send-button {
    -fx-background-image: url('../ressources/images/send.png');
    -fx-background-size: 30px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.name-label {
    -fx-font-size: 20px;
}

.message{
    -fx-font-size: 16px;
    -fx-font-weight: 300;
}

.textFlow{
    -fx-background-color: -fx-usermsgColor;
    -fx-background-insets: -5 -10 -5 -5;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),1.2,1.0,0.5,0.5);
    -fx-shape: "M 5 0 L 5 0 L 5 0 C 2 0 0 2 0 5 V 38 C 0 42 2 43 5 43 L 72 43 C 75 43 76 41 76 39 L 76 7 L 84 0 H 75";
}

.textFlowFlipped{
    -fx-background-color: white;
    -fx-background-insets: -5 -5 -5 -10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08),1.2,1.0,-0.5,-0.5);
    -fx-shape: "M 7 55 L 0 55 L 7 63 V 93 C 7 97 8 98 12 98 H 75 C 79 98 80 97 80 93 V 60 C 80 56 80 55 75 55";
}

.tempFlow{
    -fx-padding: 5 25 5 5;
}

.tempFlowFlipped{
    -fx-padding: 5 5 5 25;
}

.hbox{
    -fx-background-insets: 15;
    -fx-padding: 12px;
}

.scroll-pane .scroll-bar:vertical, #txtMsg .scroll-bar:vertical{
    -fx-background-color:inherit;
}

.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 7;
}

.scroll-pane  .scroll-bar .increment-arrow,
.scroll-pane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;
}

#scrollPane .scroll-bar:vertical{
    -fx-background-color:inherit;
}

#scrollPane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}

#scrollPane .scroll-bar:vertical .increment-button,
#scrollPane .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 7;

}

#scrollPane  .scroll-bar .increment-arrow,
#scrollPane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

#scrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;

}

#scrollPane:hover .scroll-bar:vertical .thumb{
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-background-insets: 4,0,0;
}

.chatBox{
    -fx-padding: 20px;
    -fx-background-insets: -25px;
}

.online-label {
    -fx-text-fill: black;
    -fx-font-size: 17px;
}

.online-label-details{
    -fx-text-fill: rgba(0,0,0,0.6);
    -fx-font-size: 14px;
}
.online-user-container{
    -fx-background-color: inherit;
    -fx-border-color: -fx-topBar;
    -fx-border-width: 0 0 1 0;
}

.online-user-container-active{
    -fx-background-color: rgb(235, 235, 235);
}

.online-user-container:hover{
    -fx-background-color: rgb(245, 245, 245);
    -fx-border-color: -fx-topBar;
}
.start-pane {
    -fx-background-color: #F8F9FA;
    -fx-background-image: url("../ressources/images/intro-connection-back.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 35%;
    -fx-border-color: #4adf83 rgba(0, 0, 0, .08);
    -fx-border-width: 0 0 6 1;
}

.creator-name {
    -fx-fill: #525252;
}

.title-bar-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-text-alignment: center;
    -fx-padding: 0 15 0 15;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
}
.title-bar-button:hover {
    -fx-background-color: #009c86;
}

.app-title {
    -fx-text-fill: #fff;
    -fx-font-size: 13px;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: rgba(0,0,0,0.7);
    -fx-font-size: 30px;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 0;
}

.new-contact-pane {
    -fx-background-color: #d4d4d4;

}
.new-contact-label{
    -fx-font-size: 25px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}


.new-contact-cancel{
    -fx-text-fill: #009c86;
}
.new-contact-send{
    -fx-background-color: #009c86;
    -fx-text-fill:  #ffffff;
    -fx-border-radius: 5px;
}

.new-contact-textfield{
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
}

.new-contact-error {
    -fx-font-size: 14px;
    -fx-fill: -fx-errorColor;
}

.request-statut {
    -fx-font-size: 14px;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-text-alignment: justify;
}

.request-statut-success {
    -fx-border-color: #c3e6cb;
    -fx-background-color: #d4edda;
    -fx-text-fill: #155724;
}

.request-statut-fail {
    -fx-border-color:#f5c6cb;
    -fx-background-color: #f8d7da;
    -fx-text-fill: #721c24;
}

.overlay-pane {
    -fx-background-color: rgba(0,0,0,0.75);
}

.overlay-pane-main {
    -fx-background-color: white;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-background-radius: 5px 5px 5px 5px;
}

.delete-friend-button {
    -fx-background-image: url("../ressources/images/delete.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}